<script lang="ts">
	import supabase from '$lib/util/supabase';
	import { authMethod } from 'config';
	import { addToast } from '$lib/stores/toasts';
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';
	import type { PageData } from './$types';
	import { page } from '$app/stores';

	let loading = false;
	let input: number;
	let emailOrPhone = '';
	export let data: PageData;

	const verifyOtp = async () => {
		if (input.toString().trim().length !== 6) return;
		if (!emailOrPhone.trim()) {
			goto('/auth');
			return;
		}

		try {
			loading = true;
			const { error } = await supabase.auth.verifyOtp(
				authMethod === 'phone'
					? {
							phone: emailOrPhone,
							token: input.toString().trim(),
							type: 'sms'
					  }
					: {
							email: emailOrPhone,
							token: input.toString().trim(),
							type: 'magiclink'
					  }
			);
			if (error) throw error;
			addToast({
				title: 'Logged in',
				message: 'You have been logged in',
				type: 'success'
			});
			const st = { ...history.state };
			delete st.val;
			history.replaceState(st, '', '/auth/otp');
			goto('/');
		} catch (error) {
			if (error instanceof Error) {
				addToast({ title: 'An error occured', message: error.message, type: 'error' });
			}
		} finally {
			loading = false;
		}
	};

	onMount(() => {
		const { val } = history.state;
		emailOrPhone = val;
	});
</script>

<form
	on:submit|preventDefault={verifyOtp}
	class="min-w-[300px] max-w-[1000px] w-[75%] mx-auto mt-20 flex flex-col gap-4"
>
	<h1 class="text-center text-primary font-bold text-5xl">Sign In / Register</h1>

	{#if data.session}
		<p
			class="text-error text-center text-xl my-8 w-full md:w-[50%] mx-auto"
			style="line-height: 2rem"
		>
			<b>WARNING:</b> You are already signed in as
			<code class="bg-base-300 border border-danger rounded text-danger font-mono px-2 py-1">
				{data.session.user.email || data.session.user.phone}</code
			>. Signing in to another account will log you out of this one
		</p>
	{/if}

	<label for="input" class="text-2xl text-center text-gray-700 dark:text-gray-300 font-medium mt-10"
		>Enter the OTP you received</label
	>

	<input
		type="number"
		bind:value={input}
		id="input"
		placeholder="Enter the OTP you received"
		class="input input-bordered input-primary input-lg w-full md:w-[50%] mx-auto mt-2"
	/>

	<button
		class="btn-primary btn-md w-full md:w-[50%] rounded-xl mx-auto uppercase"
		class:loading
		disabled={loading}>Log in</button
	>
	<p class="mt-2 text-center">
		Signing in as <code
			class="bg-base-300 border border-primary rounded text-primary font-mono px-2 py-1"
			>{emailOrPhone || 'An error occured'}</code
		>. Not you?
		<a href="/auth" class="text-primary">Back to login</a>.
	</p>
</form>
