<script lang="ts">
	import supabase from '$lib/util/supabase';
	import type { PageData } from './$types';
	import { authMethod } from 'config';
	import Select from '$lib/components/Select.svelte';
	import { addToast } from '$lib/stores/toasts';
	import { goto } from '$app/navigation';

	export let data: PageData;
	let loading = false;
	let input: string = '';
	let countryAlpha2: string = 'US';

	const sendOTP = async () => {
		if (!input.trim()) return;
		if (authMethod === 'phone' && !countryAlpha2.trim()) return;

		const val =
			authMethod === 'email'
				? input.trim()
				: `+${
						data.countries.find((i) => i.alpha2 === countryAlpha2)?.calling_code || ''
				  }${input.trim()}`;

		try {
			loading = true;
			const { error } = await supabase.auth.signInWithOtp(
				authMethod === 'email'
					? { email: val, options: { shouldCreateUser: true } }
					: { phone: val, options: { shouldCreateUser: true } }
			);
			if (error) throw error;
			addToast({
				title: 'Sent OTP',
				message:
					authMethod === 'email' ? 'Check your email for an OTP' : 'Check your messages for an OTP',
				type: 'success'
			});
			goto('/auth/otp', { state: { val } });
		} catch (error) {
			if (error instanceof Error) {
				addToast({ title: 'An error occured', message: error.message, type: 'error' });
			}
		} finally {
			loading = false;
		}
	};
</script>

<form
	on:submit|preventDefault={sendOTP}
	class="min-w-[300px] max-w-[1000px] w-[75%] mx-auto mt-20 flex flex-col gap-4"
>
	<h1 class="text-center text-primary font-bold text-5xl">Sign In / Register</h1>

	{#if data.session}
		<p
			class="text-error text-center text-xl my-8 w-full md:w-[50%] mx-auto"
			style="line-height: 2rem"
		>
			<b>WARNING:</b> You are already signed in as
			<code class="bg-base-300 border border-danger rounded text-danger font-mono px-2 py-1">
				{data.session.user.email || data.session.user.phone}</code
			>. Signing in to another account will log you out of this one
		</p>
	{/if}

	<label for="input" class="text-2xl text-center text-gray-700 dark:text-gray-300 font-medium mt-10"
		>Enter your {authMethod === 'email' ? 'Email address' : 'Phone number'}</label
	>

	{#if authMethod === 'email'}
		<input
			type="email"
			bind:value={input}
			id="input"
			placeholder="Enter your email"
			class="input input-bordered input-primary input-lg w-[50%] mx-auto mt-2"
		/>
	{:else if authMethod === 'phone'}
		<div
			class="grid items-center gap-2 w-[50%] justify-center mx-auto mt-2"
			style="grid-template-columns: 20% 80%;"
		>
			<Select
				options={data.countries.map((i) => ({
					id: i.alpha2,
					text: `${i.country} (${i.calling_code})`,
					displayText: `+${i.calling_code}`,
					icon: String.fromCodePoint(
						...i.alpha2
							.toUpperCase()
							.split('')
							.map((char) => 127397 + char.charCodeAt(0))
					)
				}))}
				btnClass="btn-lg w-full"
				bind:value={countryAlpha2}
			/>
			<input
				type="tel"
				bind:value={input}
				id="input"
				placeholder="Enter your phone number"
				class="input input-bordered input-primary input-lg mx-auto w-full"
			/>
		</div>
	{/if}

	<button
		class="btn-primary btn-md w-[50%] rounded-xl mx-auto uppercase"
		class:loading
		disabled={loading}>Sign in / Register</button
	>
	<p class="mt-2 text-center">
		{authMethod === 'email' ? 'An email' : 'An SMS Message'} will be sent to you containing a code with
		which you can login. <br />{authMethod === 'phone' ? 'SMS Charges may apply' : ''}
	</p>
</form>
