<script lang="ts">
	import '../app.postcss';
	import '@fontsource/baloo-2/variable.css';
	import { listenForThemeChanges, applyTheme, type Theme } from '$lib/stores/theme';
	import { onMount } from 'svelte';
	import Navbar from '$lib/components/Navbar.svelte';
	import supabaseClient from '$lib/util/supabase';
	import { invalidate } from '$app/navigation';
	import { removeToast, toasts, TOAST_ICONS } from '$lib/stores/toasts';

	onMount(() => {
		listenForThemeChanges();

		const {
			data: { subscription }
		} = supabaseClient.auth.onAuthStateChange((event, session) => {
			console.log(event, session);
			invalidate('supabase:auth');
		});

		return () => {
			subscription.unsubscribe();
		};
	});
</script>

<section class="toast toast-end toast-bottom">
	{#each $toasts as toast}
		<div
			class="alert shadow-lg flex-col min-w-[20vw] max-w-[400px] items-start justify-center"
			class:alert-info={toast.type === 'info'}
			class:alert-success={toast.type === 'success'}
			class:alert-warning={toast.type === 'warning'}
			class:alert-error={toast.type === 'error'}
		>
			<div class="flex gap-2 text-lg w-full">
				{@html TOAST_ICONS[toast.type]}
				<h3 class="font-medium">{toast.title}</h3>
				<button
					class="p-2 rounded-full bg-inherit ml-auto block hover:bg-white transition-all duration-300 ease-linear"
					type="button"
					on:click={() => removeToast(toast.id)}
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="w-5 h-5"
					>
						<path
							d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
						/>
					</svg>
				</button>
			</div>
			<p class="mt-2">{toast.message}</p>
		</div>
	{/each}
</section>

<Navbar />
<slot />
