<script lang="ts">
	import type { PageData } from './$types';
	import * as cfg from 'config';
	import Uploader from '$lib/components/Uploader.svelte';
	export let data: PageData;
</script>

<h1 class="text-center text-5xl mt-20 text-primary font-bold">{cfg.name}</h1>
<p class="text-center text-3xl mt-8 text-gray-700 dark:text-gray-300 font-medium">
	{cfg.description}
</p>
<div class="mt-8 flex items-center justify-center">
	{#if !cfg.allowAnonymousUploads && !data.session?.user}
		<a href="/auth" class="btn btn-primary btn-md">Login to upload files</a>
	{:else}
		<Uploader />
	{/if}
</div>
