<script lang="ts">
	import type { PageData } from './$types';
	import { beforeNavigate, afterNavigate } from '$app/navigation';

	export let data: PageData;
	export let loading = false;

	beforeNavigate(() => {
		loading = true;
	});

	afterNavigate(() => {
		loading = false;
	});

	console.dir(data);
</script>

<div
	class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 mx-12 my-6"
>
	{#each data.folders as folder}
		<a
			href="/{folder.id}"
			class="flex flex-col items-center justify-center bg-base-300 shadow-md rounded-xl border border-base-100 px-4 py-3"
			class:hover:bg-base-100={!loading}
			class:hover:border-primary={!loading}
			class:cursor-not-allowed={loading}
		>
			<div class="rounded-xl mx-2 my-4 h-[200px]">
				{#if !loading}
					{#if Array.isArray(folder.uploads) && folder.uploads[0].file_type.startsWith('image')}
						<img
							src={`/get/${folder.id}/${folder.uploads[0].id}`}
							class="h-full w-full"
							alt="First file of the folder"
						/>
					{:else if Array.isArray(folder.uploads) && folder.uploads[0].file_type.startsWith('video')}
						<video
							src={`/get/${folder.id}/${folder.uploads[0].id}`}
							class="h-full w-full"
							controls
						/>
					{:else if Array.isArray(folder.uploads) && folder.uploads[0].file_type.startsWith('video')}
						<audio
							src={`/get/${folder.id}/${folder.uploads[0].id}`}
							class="h-full w-full"
							controls
						/>
					{/if}
				{/if}
			</div>
			<div class="text-sm text-gray-500 font-mono">{!loading ? folder.id : '...'}</div>
		</a>
	{/each}
</div>
