<script lang="ts">
	import supabaseClient from '$lib/util/supabase';
	import { onMount } from 'svelte';
	import type { PageData } from './$types';

	export let data: PageData;
	let fileUrl: string | undefined = undefined;

	onMount(async () => {
		const {
			data: { publicUrl }
		} = supabaseClient.storage
			.from('files')
			.getPublicUrl(`/${data.folder.uploader_id}/${data.folder.id}/${data.file.id}`);
		publicUrl && (fileUrl = publicUrl);
	});
</script>

<h1 class="text-center text-3xl font-mono mt-20 text-primary font-bold">
	{data.folder.id} &#47; {data.file.id}
</h1>
<p class="text-center text-xl mt-8 text-gray-700 dark:text-gray-300 font-medium">
	Created at {new Intl.DateTimeFormat(undefined, {
		timeStyle: 'short',
		dateStyle: 'short'
	}).format(new Date(data.file.created_at))}
</p>

{#if fileUrl}
	<div class="my-8 mx-auto w-[50%] max-w-[1000px] min-w-[200px]">
		{#if data.file.file_type.startsWith('image/')}
			<img
				src={`/get/${data.file.folder_id}/${data.file.id}`}
				alt={data.file.file_name}
				class="w-full h-full"
			/>
		{:else if data.file.file_type.startsWith('video/')}
			<video controls>
				<source
					src={`/get/${data.file.folder_id}/${data.file.id}`}
					type={data.file.file_type}
					class="w-full h-full"
				/>
			</video>
		{:else if data.file.file_type.startsWith('audio/')}
			<audio controls>
				<source
					src={`/get/${data.file.folder_id}/${data.file.id}`}
					type={data.file.file_type}
					class="w-full h-full"
				/>
			</audio>
		{:else}
			<p class="text-2xl text-center text-gray-700 dark:text-gray-300 font-mono font-medium">
				{data.file.file_name}
			</p>
		{/if}
	</div>
	<div class="mt-8 flex items-center justify-center">
		<a href={`/get/${data.file.folder_id}/${data.file.id}`} download class="btn btn-primary btn-md"
			>Download</a
		>
	</div>
{/if}
