<script lang="ts">
	import { page } from '$app/stores';
</script>

<svelte:head>
	<title>An error occured - {$page.status}</title>
</svelte:head>

<h1 class="text-center text-5xl mt-20 text-primary font-bold">An error occured!</h1>
<p class="text-center text-3xl mt-8 text-gray-700 dark:text-gray-300 font-medium">
	{#if $page.status === 404}
		The requested file was not found, or might have been deleted
	{:else}
		{$page.error?.message || 'An unknown error occured'}
	{/if}
</p>
<div class="mt-8 flex items-center justify-center">
	<a href="/" class="btn btn-primary btn-md">Homepage</a>
</div>
