<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<h1 class="text-center text-3xl font-mono mt-20 text-primary font-bold">
	{data.folder.id}
</h1>
<p class="text-center text-xl mt-8 text-gray-700 dark:text-gray-300 font-medium">
	Created at {new Intl.DateTimeFormat(undefined, {
		timeStyle: 'short',
		dateStyle: 'short'
	}).format(new Date(data.folder.created_at))}
</p>

{#each data.files as file, i}
	<div class="my-8 mx-auto w-[50%] max-w-[1000px] min-w-[200px]">
		{#if file.file_type.startsWith('image/')}
			<img src={`/get/${data.folder.id}/${file.id}`} alt={file.file_name} class="w-full h-full" />
		{:else if file.file_type.startsWith('video/')}
			<video controls>
				<source
					src={`/get/${data.folder.id}/${file.id}`}
					type={file.file_type}
					class="w-full h-full"
				/>
			</video>
		{:else if file.file_type.startsWith('audio/')}
			<audio controls>
				<source
					src={`/get/${data.folder.id}/${file.id}`}
					type={file.file_type}
					class="w-full h-full"
				/>
			</audio>
		{:else}
			<p class="text-2xl text-center text-gray-700 dark:text-gray-300 font-mono font-medium">
				{file.file_name}
			</p>
		{/if}
		{#if i !== data.files.length - 1}
			<hr class="my-8 border-t border-gray-500" />
		{/if}
	</div>
	<div class="mt-8 flex items-center justify-center">
		<a href={`/get/${data.folder.id}/${file.id}`} download class="btn btn-primary btn-md"
			>Download</a
		>
	</div>
{/each}
