<script lang="ts">
	import { name } from 'config';

	export let file: File;
</script>

<div
	class="bg-base-300 border rounded border-base-200 shadow text-white p-1 flex flex-col gap-1 h-full relative"
>
	<button
		class="absolute p-1 right-1 top-1 rounded-full text-error hover:bg-white"
		title="Remove"
		aria-label="Remove file"
		on:click|stopPropagation
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="w-6 h-6"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
		</svg>
	</button>
	{#if file.type.startsWith('image/')}
		<img src={URL.createObjectURL(file)} alt={file.name} class="w-full h-full" />
	{:else if file.type.startsWith('video/')}
		<video controls>
			<source src={URL.createObjectURL(file)} type={file.type} class="w-full h-full" />
		</video>
	{:else if file.type.startsWith('audio/')}
		<audio controls>
			<source src={URL.createObjectURL(file)} type={file.type} class="w-full h-full" />
		</audio>
	{:else}
		<div class="h-full flex items-center justify-center">
			<p class="text-5xl font-bold uppercase">{file.name.split('.').pop()}</p>
		</div>
	{/if}
	<p class="text-sm truncate">{file.name}</p>
</div>
