<script lang="ts">
	import { onMount } from 'svelte';

	let position = 0;
	let interval: NodeJS.Timer;
	export let speed = 100;
	export let increment = 1;
	export let barClass = 'w-100';
	export let progressClass = '';
	export let progressWidth = 40;
	let progress: HTMLDivElement;

	$: console.log(position, increment, speed);

	onMount(() => {
		interval = setInterval(() => {
			position = position === 100 ? progressWidth * -1 : position + increment;
			if (progress) progress.style.left = `${position}%`;
		}, speed);

		return () => {
			if (interval) clearInterval(interval);
		};
	});
</script>

<div
	class="relative w-64 h-4 rounded-xl bg-base-300 border border-base-300 overflow-hidden {barClass}"
>
	<div
		class="absolute top-0 w-16 h-4 rounded-xl bg-primary border border-primary {progressClass}"
		style={`width: ${progressWidth}%;`}
		bind:this={progress}
	/>
</div>
