<script>
	import * as cfg from 'config';
	import { page } from '$app/stores';
	import { theme } from '$lib/stores/theme';

	$: user = $page.data?.session?.user;
</script>

<div class="flex items-center gap-4 p-6">
	<div class="w-12 h-12 flex items-center">
		{#if $page.url.pathname !== '/'}
			<button
				class="rounded-full border-transparent border p-2 bg-transparent text-primary hover:bg-primary hover:text-white hover:border-primary transition-colors duration-200 ease-linear"
				on:click={() => history.back()}
				title="Go back"
				aria-label="Go back"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
					/>
				</svg></button
			>
		{/if}
	</div>
	<a href="/" class="text-primary font-bold text-lg">{cfg.name}</a>
	<div class="ml-auto flex items-center gap-2">
		<button
			class="p-2 bg-transparent text-primary hover:bg-primary hover:text-white hover:border-primary transition-colors duration-200 ease-linear rounded-full"
			title="Change theme"
			aria-label="Change theme"
			on:click={() => {
				$theme === 'dark' || $theme === 'default' ? ($theme = 'light') : ($theme = 'dark');
			}}
		>
			{#if $theme === 'light'}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="w-5 h-5"
				>
					<path
						d="M10 2a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 2zM10 15a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 15zM10 7a3 3 0 100 6 3 3 0 000-6zM15.657 5.404a.75.75 0 10-1.06-1.06l-1.061 1.06a.75.75 0 001.06 1.06l1.06-1.06zM6.464 14.596a.75.75 0 10-1.06-1.06l-1.06 1.06a.75.75 0 001.06 1.06l1.06-1.06zM18 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0118 10zM5 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 015 10zM14.596 15.657a.75.75 0 001.06-1.06l-1.06-1.061a.75.75 0 10-1.06 1.06l1.06 1.06zM5.404 6.464a.75.75 0 001.06-1.06l-1.06-1.06a.75.75 0 10-1.061 1.06l1.06 1.06z"
					/>
				</svg>
			{:else}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="w-5 h-5"
				>
					<path
						fill-rule="evenodd"
						d="M7.455 2.004a.75.75 0 01.26.77 7 7 0 009.958 7.967.75.75 0 011.067.853A8.5 8.5 0 116.647 1.921a.75.75 0 01.808.083z"
						clip-rule="evenodd"
					/>
				</svg>
			{/if}
		</button>
		{#if user}
			<a href="/files" class="btn btn-primary btn-sm">My files</a>
			<a href="/auth/logout" class="btn btn-error hidden md:flex btn-sm">Logout</a>
		{:else}
			<a href="/auth" class="btn btn-primary btn-sm">Login</a>
		{/if}
	</div>
</div>
