<script lang="ts">
	import { fade, slide } from 'svelte/transition';
	export let options: {
		id: string;
		text: string;
		displayText: string;
		icon?: string;
		imgUrl?: string;
	}[] = [];
	export let value = options[0].id;
	export let id: string | undefined = undefined;
	export let divClass = 'relative';
	export let imgClass = 'w-5 h-5';
	export let btnClass = '';
	export let toggled = false;
	export let searchString = '';
	let btn: HTMLButtonElement;
	$: opts = options;
</script>

<div class={divClass}>
	<button
		type="button"
		bind:this={btn}
		class="btn btn-primary btn-outline px-2 rounded-xl cursor-default flex items-center justify-between {btnClass}"
		on:click={() => {
			toggled = !toggled;
			setTimeout(() => toggled && btn.nextElementSibling?.focus(), 100);
		}}
	>
		<span class="text-primary">
			{(options.find((i) => i.id === value) || options[0]).displayText}
		</span>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
			<path
				fill-rule="evenodd"
				d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
				clip-rule="evenodd"
			/>
		</svg>
	</button>
	{#if toggled}
		<ul
			on:keydown={(e) => {
				if (e.key === 'Escape') {
					toggled = false;
				}
				switch (e.key.toLowerCase()) {
					case 'arrowdown':
						document.activeElement?.nextElementSibling?.focus();
						break;
					case 'arrowup':
						document.activeElement?.previousElementSibling?.focus();
						break;
					case 'backspace':
						searchString = searchString.slice(0, -1);
						const newOpts = options.filter((i) =>
							i.text.toLowerCase().includes(searchString.toLowerCase() || '')
						);
						opts = newOpts.length > 0 ? newOpts : options;
						break;
					default: {
						if ('abcdefghijklmnopqrstuvwxyz '.includes(e.key.toLowerCase())) {
							searchString += e.key;
							const searchResult = options.find((i) =>
								i.text.toLowerCase().startsWith(searchString.toLowerCase())
							);
							if (searchResult) {
								const newOpts = options.filter((i) =>
									i.text.toLowerCase().includes(searchString.toLowerCase())
								);
								opts = newOpts.length > 0 ? newOpts : options;
							}
						}
						break;
					}
				}
			}}
			class="absolute z-10 mt-2 max-h-56 overflow-auto rounded-md border border-primary bg-base-100 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-inherit sm:text-sm transition-all"
			tabindex="-1"
			role="listbox"
			transition:slide={{ duration: 400 }}
			aria-labelledby={id}
			aria-activedescendant="listbox-option-3"
		>
			{#if !!searchString.trim()}<div
					transition:fade
					class="bg-yellow-700 absolute right-2 top-2 z-10 rounded-xl px-2 py-1"
				>
					{searchString}
				</div>{/if}
			{#each opts as opt}
				<li
					class="text-primary bg-inherit relative select-none py-2 px-3 flex gap-2 items-center w-full transition-colors duration-100 ease-linear hover:bg-primary hover:text-base-content cursor-pointer focus:border-b focus:border-t focus:border-primary focus:text-secondary focus:outline-none"
					id="{id}-option-{opt.id}"
					role="option"
					aria-selected={value === opt.id}
					on:click={() => {
						value = opt.id;
						btn.focus();
						searchString = '';
						const newOpts = options.filter((i) =>
							i.text.toLowerCase().includes(searchString.toLowerCase())
						);
						opts = newOpts.length > 0 ? newOpts : options;
						toggled = false;
					}}
					tabindex="0"
					on:keydown={(e) => {
						if (e.key.toLowerCase() === 'enter' || e.key.toLowerCase() === ' ') {
							value = opt.id;
							btn.focus();
							searchString = '';
							const newOpts = options.filter((i) =>
								i.text.toLowerCase().includes(searchString.toLowerCase())
							);
							opts = newOpts.length > 0 ? newOpts : options;
							toggled = false;
						}
					}}
				>
					{#if opt.icon}
						{@html opt.icon}
					{/if}
					{#if opt.imgUrl}
						<img src={opt.imgUrl} class={imgClass} alt={opt.text} />
					{/if}
					<span class="truncate font-medium">
						{opt.text}
					</span>
					{#if value === opt.id}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="w-5 h-5 ml-auto"
						>
							<path
								fill-rule="evenodd"
								d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
								clip-rule="evenodd"
							/>
						</svg>
					{/if}
				</li>
			{/each}
		</ul>
	{/if}
</div>
